doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     block content
 
     mixin table(tableData)
       table
         each item in tableData
           tr
             td= item
      +table(brands)